<!-- dynamic row and column data and color and icons -->
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th *ngFor="let c of colHeaderChild" [ngClass]="c.headerClass">{{c.col}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of dataChild">
                <td *ngFor="let c of colHeaderChild; index as i" [ngClass]="c.cellClass">
                    <ng-container *ngIf="colHeaderChild[i].type=='text'">
                        {{emp[c.col]}}
                    </ng-container>

                    <ng-container *ngIf="colHeaderChild[i].type=='input'">
                        <input type="number" placeholder="Enter text">
                    </ng-container>

                    <ng-container *ngIf="colHeaderChild[i].type=='icon'">
                        <a *ngFor="let icon of colHeaderChild[i].icons">
                            <fa-icon [icon]="icon"></fa-icon>
                        </a>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
</div>

















<!-- working code dynamic row and column -->
<!-- 
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th *ngFor="let c of colHeaderChild" [ngClass]="c.color">{{c.col}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of dataChild">
                <td *ngFor="let c of colHeaderChild; index as i" ngClass={{colHeaderChild[i].color}}>
                    <ng-container *ngIf="colHeaderChild[i].type=='text'">
                        {{emp[c.col]}}
                    </ng-container>

                    <ng-container *ngIf="colHeaderChild[i].type=='input'">
                        <input placeholder="Enter text">
                    </ng-container>

                    <ng-container *ngIf="colHeaderChild[i].type=='icon'">
                        <a *ngFor="let icon of colHeaderChild[i].icons">
                            <fa-icon [icon]="icon"></fa-icon>
                        </a>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
</div> -->



<!-- <div class="container">
    <table class="table table-hover">
        <tbody>
            <th *ngFor="let c of colHeaderChild; index as i" [ngClass]="c.color">{{c.col}}</th>
            <tr *ngFor="let emp of dataChild; index as k ">
                    <td *ngFor="let e of emp|keyvalue ; index as x" >{{e.value}}
                        <ng-container *ngIf="colHeaderChild[x].type=='icon'">
                            <a *ngFor="let icon of colHeaderChild[x].icons">
                                <fa-icon [icon]="icon"></fa-icon>
                            </a>
                        </ng-container>
                    </td>
            </tr>
        </tbody>
    </table>
</div> -->


<!-- <div class="container">
    <table class="table table-hover">
        <tbody>
            <tr>
                <th *ngFor="let c of colHeaderChild; index as i" [ngClass]="c.color">{{c.col}}</th>
            </tr>
            <tr>
                <ng-container *ngFor="let emp of dataChild; index as row ">
                    <ng-container *ngFor="let c of colHeaderChild; index as column">
                        <td class={{c.color}}>{{emp[c]}}tst
                            <ng-container *ngIf="c.type=='icon'">
                                <a *ngFor="let icon of colHeaderChild[1].icons">
                                    <fa-icon [icon]="icon"></fa-icon>
                                </a>
                            </ng-container>
                        </td>
                    </ng-container>
                    
                </ng-container>
        </tbody>
    </table>
</div> -->


<!-- <div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th *ngFor="let c of colHeaderChild"  [ngClass]=c.color>{{c.col}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of dataChild">
                <td >{{emp.id}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.salary}}</td>
                <td ><a *ngFor="let icon of iconChild" href="#"><fa-icon [icon]="icon"></fa-icon></a></td>
            </tr>
        </tbody>
    </table>
</div> -->


<!-- working code -->
<!-- <div class="container">
    <table class="table table-hover">
        <tbody>
            <th *ngFor="let c of colHeaderChild; index as i" [ngClass]="c.color">{{c.col}}</th>
            <tr *ngFor="let emp of dataChild; index as k ">
                <td class={{colHeaderChild[0].color}}>
                    <ng-container *ngIf="colHeaderChild[0].type=='text'">
                        {{emp.EmpId}}
                    </ng-container>
                    <ng-container *ngIf="colHeaderChild[0].type=='input'">
                        <input matInput placeholder="Enter text">
                    </ng-container>
                    <ng-container *ngIf="colHeaderChild[0].type=='icon'">
                        <a *ngFor="let icon of colHeaderChild[0].icons"><fa-icon [icon]="icon"></fa-icon></a>
                    </ng-container>
                </td>

                <td class={{colHeaderChild[1].color}}>
                    <ng-container *ngIf="colHeaderChild[1].type=='text'">
                        {{emp.Name}}
                    </ng-container>
                    <ng-container *ngIf="colHeaderChild[1].type=='input'">
                        <input matInput placeholder="Enter text">
                    </ng-container>
                    <ng-container *ngIf="colHeaderChild[1].type=='icon'">
                        <a *ngFor="let icon of colHeaderChild[1].icons"><fa-icon [icon]="icon"></fa-icon></a>
                    </ng-container>
                </td>

                <td class={{colHeaderChild[2].color}}>
                    <ng-container *ngIf="colHeaderChild[2].type=='text'">
                        {{emp.Age}}
                    </ng-container>
                    <ng-container *ngIf="colHeaderChild[2].type=='input'">
                        <input matInput placeholder="Enter text">
                    </ng-container>
                    <ng-container *ngIf="colHeaderChild[2].type=='icon'">
                        <a *ngFor="let icon of colHeaderChild[2].icons"><fa-icon [icon]="icon"></fa-icon></a>
                    </ng-container>
                </td>

                <td class={{colHeaderChild[3].color}}>
                    <ng-container *ngIf="colHeaderChild[3].type=='text'">
                        {{emp.Salary}}
                    </ng-container>
                    <ng-container *ngIf="colHeaderChild[3].type=='input'">
                        <input matInput placeholder="Enter text">
                    </ng-container>
                    <ng-container *ngIf="colHeaderChild[3].type=='icon'">
                        <a *ngFor="let icon of colHeaderChild[3].icons"><fa-icon [icon]="icon"></fa-icon></a>
                    </ng-container>
                </td>

                <td class={{colHeaderChild[4].color}}>
                    <ng-container *ngIf="colHeaderChild[4].type=='text'">
                        icons
                    </ng-container>
                    <ng-container *ngIf="colHeaderChild[4].type=='input'">
                        <input matInput placeholder="Enter text">
                    </ng-container>
                    <ng-container *ngIf="colHeaderChild[4].type=='icon'">
                        <a *ngFor="let icon of colHeaderChild[4].icons"><fa-icon [icon]="icon"></fa-icon></a>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
</div> -->

<!-- working code -->
<!-- <div class="container">
    <table class="table table-hover">
        <tbody>
            <th *ngFor="let c of colHeaderChild" [ngClass]="c.color">{{c.col}}</th>
            <tr *ngFor="let emp of dataChild">
                <td *ngFor="let c of colHeaderChild; index as i" ngClass={{colHeaderChild[i].color}}>
                    <ng-container *ngIf="colHeaderChild[i].type=='text'">
                        {{emp[c.col]}}
                    </ng-container>

                    <ng-container *ngIf="colHeaderChild[i].type=='input'">
                        <input matInput placeholder="Enter text">
                    </ng-container>

                    <ng-container *ngIf="colHeaderChild[i].type=='icon'">
                        <a *ngFor="let icon of colHeaderChild[i].icons">
                            <fa-icon [icon]="icon"></fa-icon>
                        </a>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
</div> -->



<!-- reference -->
<!-- <div class="container">
   
    <a
        href="https://stackoverflow.com/questions/43864288/how-to-set-table-heading-dynamically-in-angular-2">https://stackoverflow.com/questions/43864288/how-to-set-table-heading-dynamically-in-angular-2
    </a>
    <a
        href=" https://stackoverflow.com/questions/38810318/dynamically-loading-columns-and-data-in-to-table-in-angular-2"> https://stackoverflow.com/questions/38810318/dynamically-loading-columns-and-data-in-to-table-in-angular-2
    </a>
    <a
        href="https://stackoverflow.com/questions/23465835/how-to-use-ng-if-with-table-to-display-td-based-on-the-condition"> https://stackoverflow.com/questions/38810318/dynamically-loading-columns-and-data-in-to-table-in-angular-2
    </a>

</div> -->
